* {
  margin: 0;
  padding: 0;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-size: 0.875rem;
}

fieldset {
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 0.5rem 0;
  position: relative;
}


.loginForm_container {
  width: 15.25rem;
  margin: 1rem;
  padding: 0.75rem;
  background: linear-gradient(to right, #ED552F, #E8852E);
  border-radius: 5px;
  box-shadow: 4px 6px #aaa;
}

.loginBox {
  background: #FFF;
  border-radius: 5px;
}

.loginForm {
  padding: 0.5rem;
}

.loginTitle {
  font-size: 0.9375rem;
  font-weight: 700;
  color: #FFFF00;
  margin-bottom: 8px;
}

.idInput__input,
.passwordInput__input {
  width: 90px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: absolute;
  right: 30%;
}

.idInput {
  margin-bottom: 4px;
}

.passwordInput {
  margin-bottom: 4px;
}

.button {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  right: 2%;
  top: 2%;
  border: none;
  border-radius: 3px;
  background: #ED552F;
}

.button a {
  color: #fff;
}

.member {
  padding: 0.25rem 0.5rem;
  display: flow-root;
}

.signIn {
  list-style: circle;
  float: left;
  margin-left: 13px;
}

.finder {
  list-style: circle;
  float: right;
}